*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.8785889355742297) 100%); */
  background-color: navajowhite;
  color: #0d5b5e;

}

.App {
  text-align: center;
  font-family: sans-serif;
  height: 100vh;
  width: 85%;
  margin: 0 auto;
}

.appTitle {
  padding: 3em 0;
  /* margin-bottom: .2em; */
  color: #0d5b5e;
}

